@page {

}
body {
	font-size: 10pt !important;
}
table td, table th {
	font-size: 10pt !important;
	padding: 4px 6px;
	white-space: nowrap;
	width: 100%;
	border: 1px solid #ddd;
}
table th {
	background: #eee;
}
.committee td {
	background: #b0bec5 !important;
}
.cost-centre td {
	background: #eceff1 !important;
}
table {
}
.cash {
	text-align: right;
}
.old {
	opacity: 0.8;
}
.change {
	opacity: 1;
	background: #afa;
	font-weight: bold;
}
.content {
	margin: 0 auto;
	max-width: 1000px;
}
@media print {
	.content {
		max-width: none;
	}
}